<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/css/surface_styles.css" th:href="@{/css/surface_styles.css}" media="screen">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" media="screen">
</head>

<body>
<div th:fragment="headeruser">
    <input type="checkbox" id="nav--super-vertical-responsive">
    <label for="nav--super-vertical-responsive">МЕНЮ</label>
    <aside class=" bg--black nav--super-vertical g--2 g-med--3 g-small--6 g-tiny--12 no-margin-vertical">
        <div class="g--12 logo-area no-margin-vertical logo">
            <img src="../static/images/Logo.png" th:src="@{/images/log.png}"/>
        </div>
        <nav>
            <a style="color: white" th:href="@{/}">Начальная страница</a>
            <a style="color: white" th:href="@{/product/productsUser}">Список товаров</a>
            <a style="color: white" th:href="@{/order/ordersUser}">Список заказов</a>
            <a style="color: white" th:href="@{/order/new}"><span style="color: red; font-weight: bold; margin-right: 5px">+</span>Добавить
                заказ</a>
        </nav>
    </aside>
</div>
</div>

</body>
</html>
