<!DOCTYPE html>
<html>
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<main class="g--10 g-m--12 m--2 m-m--0 no-margin-vertical" role="main">
    <header class="container--wrap bg--black">
        <h1 class="m--1 g--4 g-s--12 docsHeader">Начальная страница</h1>
    </header>

    <div class="g--12 m--1 container container--wrap--s" style="margin-top: 15%;">
              <div class="g--10 g-s--12 center ">
        <h1 class="">Добро пожаловать!</h1>
    </div>
    </div>
</main>
</body>
</html>
